<!DOCTYPE html>
<html>
<head>
    <title>워드 클라우드</title>
</head>
<body>
    <h1>워드 클라우드</h1>
    <form action="/" method="post">
        <textarea name="input_text" rows="10" cols="50" placeholder="텍스트를 입력하세요"></textarea>
        <br>
        <input type="submit" value="워드 클라우드 생성">
    </form>

    {% if input_text %}
        <h2>입력한 텍스트:</h2>
        <p>{{ input_text }}</p>
    {% endif %}
    {% if wordcloud_base64 %}
        <h2>워드 클라우드:</h2>
        <!-- 이미지를 base64로 인코딩하여 웹 페이지에 삽입 -->
        <img src="data:image/png;base64,{{ wordcloud_base64 }}" alt="Word Cloud" width="800" height="400">
    {% endif %}
</body>
</html>

